@use 'mixins';

.app-body {
    
    .container {
        @include mixins.flex();
        flex-wrap: nowrap;
        justify-content:flex-start;
        margin-top: 2%
    };
}

body {
    background-color:rgb(44, 38, 38);
    color: rgb(211, 185, 185);
}